*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h4{
    padding-left: 25px;
}
#head{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav li{
    padding: 0 12px;
}
.navbar-nav li a{
    color: floralwhite;
    font-weight: 600;
}
.navbar-brand span{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 20px;
    
}
.dropdown-menu {
    min-width:35px !important;
  }  
.fa{
    color: #fff;
    font-size: 20px !important;
    
}
.img-fluid{
    width: 90%;
    
}
.main{
    color: rgb(21, 20, 19);
}
.carousel img{
    height: 450px;
    object-fit: cover;
    object-position: center;
}
#next{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: purple;
    border-radius: 50%;
}
.wrapper{
    max-height: 400px;
    display: flex;
    overflow-x: auto;
}
.wrapper .item{
    line-height: 300px;
    text-align: center;
    margin-right: 15px;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.card-title{
    color: #ddd;
}
.card-body{
    background: rgb(24, 22, 22);
}
.card{
    border: none !important;
  }
#variety-show .card-body{
    background: rgb(24, 22, 22);
    text-align: center;
    padding: 4px;
}
#variety-show .card-title{
    color: #ddd;
}
body{
    height: 100%;
}
.navbar-nav a:hover {
    background: #ddd;
    color: black;
    height: 100%;
}
#footer{
    background: linear-gradient(to right,rgb(25, 28, 28),rgb(25, 28, 28), rgb(35, 32, 36));
    color: #ddd;
}
.footer-box{
    padding: 20px;
    font-size: 12px;
}
.footer-box b{
    font-size: 16px !important;
}
.footer-box .fa{
    margin-right: 8px;
    font-size: 15px !important;
    height: 25px;
    width: 25px;
    color: #ddd;
    text-align: center;
    padding-top: 7px;
    border-radius: 3px;
    background: black;

}
.copyrights{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 13px;
}